<% @expenses.each do |expense| %>
  <%= link_to expense.title, edit_expense_path(expense) %> <br />
<% end %>

<h1>Create new expense</h1>
<%= render 'expense_form', submit_button: 'Create new expense' %>
